body{
    background-color: black;
    background-image: url('./image/bg.jpg');
}
h1{
    color: red;
}
h1:hover{
    color: #333333;
}
p{
    background-color: blueviolet;
}
p:hover{
    color: #333333;
}
h2{
    color: cadetblue;
}